* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Adicione este estilo para organizar os botões verticalmente */
.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centralizando os botões verticalmente */
  align-items: center; /* Centralizando os botões horizontalmente */
  height: 90vh; /* Definindo a altura para centralizar na tela */
  background: #050801; /* Fundo preto */
  padding: 20px; /* Espaçamento interno para os botões */
}

/* Estilo para as informações da empresa */
.company-info-0 {
  color: #fcfcfc;
  background-color: #0000;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 6px;
}

#company-name,
#company-type,
#company-state {
  font-size: 20px; /* Defina o tamanho da fonte desejado */
}


hr {
  position: absolute;
  top: 80px; /* Ajuste conforme necessário */
  left: 0;
  width: 100%;
  height: 1px; /* Altura da linha */
  border: none; /* Remover a borda padrão */
  background-color: #ffffff; /* Cor da linha */
}





.info-item-0 {
  margin-left: 25px;
  margin-right: 25px;
  align-content: center;
}

.info-item-0 span {
  font-weight: bold;
  margin-right: 20px;
}

.info-value-0 {
  display: inline-block;
  color: #f8f1f1;
  margin-left: 10px;
}

/* Estilos para o botão "Voltar" */
.back-button {
  position: fixed;
  bottom: 15px;
  right: 15px;
  padding: 15px 10px;
  color: #fcfcfc;
  background: none;
  border: 2px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  letter-spacing: 4px;
}

.back-button:hover {
  background: #03e9f4;
  color: #050801;
}

/* Estilo para cada botão */
.button-container a {
  display: inline-block; /* Alterando para exibir como bloco inline */
  margin-bottom: 70px; /* Espaçamento entre os botões */
  padding: 15px 30px; /* Espaçamento interno do botão */
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  border: 2px solid #ffffff; /* Adicionando borda azul luminoso */
  border-radius: 5px; /* Arredondando as bordas */
}

/* Estilo para o contêiner da logo */
.logo-container {
  position: fixed;
  top: 3px;
  left: 10px;
  z-index: 9999;
}

/* Estilo para a logo */
.logo {
  width: 130px; /* Largura da logo */
  height: auto; /* Altura automática para manter a proporção */
  filter: drop-shadow(0 0 10px rgba(203, 248, 249, 0.801)); /* Sombra na logo */
  animation: shine 0s infinite alternate; /* Animação de brilho */
}

/* Animação de brilho */
@keyframes shine {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

/* Removendo os estilos para as bordas animadas */
a:hover {
  background: #03e9f4;
  color: #050801;
}

span {
  color: #fff;
}

.main-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

hr {
  color: #fff;
  border: solid 0,5px;
}